build-aux/
config.log
config.status
configure
autom4te.cache
aclocal.m4
Makefile
Makefile.in
scripts/m5run
doc/stamp-vti
doc/version.texi
doc/*.info
doc/*.txt
doc/M5manual.html
atconfig
atlocal
tests/package.m4
tests/t
tests/t.dir/
tests/t.log
