.quotation { float: right; width: 48%; clear: all; margin-left:1em;
             font-family: sans-serif; font-style: oblique; font-size:90%;
             color: #fff; background-color: #777;
             border: 3px inset black;
             padding-bottom:3ex;
}
.footnote-text { font-size:90%; margin-top: 20px; font-family: sans-serif; }
.moo { font-variant: small-caps; }
